*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --navBar: #FC4F1B;
  --white: white;
  --offwhite: #F2F2F2;
  --red: #CB3B24;
  --offblack: #222831;
  --grey: #393E46;
  --iconHover: #E7E7E7;
}


/*styling the banner header*/
  h1 {
    font-family: "Ropa Sans", sans-serif;
    font-size: 80px;
  }

  h2 {
    text-align: center;
    font-family: "Ropa Sans", sans-serif;
    font-size: 32pt;
    color: var(--offblack);
  }

  h4 {
    font-family: "Roboto", sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin-top: 25px;
  }

/*logo and button*/
  nav {
    background-color: var(--navBar);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    /*align-items:unset;
      justify-content: unset;
      */
  }

  .nav-items {
    width: 78%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center; /**/
    justify-content: space-between; /**/
  }

  nav img {
    height: 50px;
  }

  /*DARK-LIGHT MODE BUTTON*/
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      border: 2px solid var(--offblack);
      /*-webkit-transition: 0.4s;*/
      /*transition: 0.4s;*/
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 2px;
      background-color: var(--offblack);
      /*-webkit-transition: 0.4s;*/
      /*transition: 0.4s;*/
    }

    .toggle {
      position: absolute;
      content: "";
      height: 20px;
      width: auto;
      left: 4px;
      bottom: 4px;
      /*-webkit-transition: 0.4s;*/
      /*transition: 0.4s;*/
    }

    /*
    #modeSwitch:checked + .slider {
      background-color: rgb(250, 217, 28);
    }
    */

    #modeSwitch:checked + .slider:before {
      -webkit-transform: translateX(22px);
      -ms-transform: translateX(22px);
      transform: translateX(22px);
    }

    .slider.round {
      border-radius: 50px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

/*Homepage styling*/
/*styling banner container*/
.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#fc4f1b, #f7b132);
  background-image: url(images/backgroud\ copy.jpg);
  background-size: cover;
  padding-top: 20vh;
}

/*styling the elements that are on the banner*/
  .banner-items {
    width: 78%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner-items p {
    font-family: "Roboto", sans-serif;
    font-size: 18pt;
  }

  .banner-btn {
    text-decoration: none;
    text-align: center;
    background-color: var(--offwhite);
    font-family: "Ropa Sans", sans-serif;
    font-size: 18pt;
    color: var(--offblack);
    padding: 15px;
    width: 200px;
    margin-top: 50px;
    border-radius: 10px;
  }

  .banner-btn:hover {
    background-color: var(--iconHover);
    color: var(--offblack);
    transition-duration: 0.5s;
  }

/*CONVERTER BUTTONS*/
  .converters {
    min-height: 100vh;
    padding: 70px 0;
    background-color: var(--offwhite);
  }

  .converter-links {
    width: 78%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .converter-link {
    text-decoration: none;
    min-width: 200px;
    width: 30%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 30px 0;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--red);
    font-weight: bold;
  }

  .converter-link:hover {
    background-color: var(--iconHover);
    color: var(--red);
    transition-duration: 0.25s;
  }

  .converter-link img {
    height: 60px;
  }

/*Footer*/
  .footer {
    min-height: 10vh;
    height: 200px;
    background-color: var(--white);
    padding: 2.5%;
  }

  .footer-items {
    width: 78%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Ropa Sans", sans-serif;
    margin-top: 20px;
  }

  .footer-items:hover {
    opacity: 70%;
  }

  .footer-items a {
    text-decoration: none;
    color: var(--offblack);
  }

  .github-logo {
    width: 50px;
  }

/*Converter page styling*/
  /*Converter navs*/
    .converters-nav {
      height: 125px;
      background-color: var(--white);
      width: 100%;
    }

    .nav-converter-links {
      width: 70%;
      max-width: 1440px;
      margin: auto;
      height: 100%;
      background-color:var(--white);
      display: flex;
      justify-content: space-between;
      font-weight: 650;
      display: flex;
      flex-wrap: wrap;
    }

    .nav-converter-link {
      text-align: center;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 5%;
      padding-right: 5%;
    }

    .nav-converter-link:hover {
      opacity: 40%;
      transition-duration: 0.25s;
    }

    .nav-converter-link img {
      height: 40px;
    }

    .nav-converter-link p {
      margin: 10px;
      color: var(--red);
    }

    .hiddenIcon {
      display: none;
    }

/*main section*/
  .converter-section { 
    background-color: var(--offwhite);
    font-family: "Ropa Sans", sans-serif;
    color: var(--offblack);
    padding-bottom: 5%;
  }

  .converter-section h3 {
    padding-top: 20px;
    font-size: medium;
    font-style: italic;
    width: 60%;
    max-width: 810px;
    margin: auto;
  }

  .converter-box {
    width: 60%;
    max-width: 810px;
    margin: auto;
    background-color: var(--white);
    border-radius: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .decimal-dropDown {
    margin: auto;
    width: 70%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
  }

  .decimal-dropDown p {
    margin: 0 10px;
    padding: 2% 0;
  }
  
  .form-select {
    width: 60px;
    background-color: rgb(245, 245, 245);
    color: #222831;
    border: 1px solid #222831;
  }

  .onevALUE {
    background-color: var(--offwhite);
    color: var(--offblack);
  }
  

  /*CONNVERSION INPUTS*/
    .unit-type {
      width: 70%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
    }

    .unit-type h3 {
      width: 100%;
      float: left;
      margin-left: -3px;
    }

    .unit-type p {
      width: 10%;
      height: 40px;
      padding-left: 10px;
      text-align: left;
      font-size: 14pt;
    }

    .input {
      width: 90%;
      outline-style: none;
      outline: none;
      border: none;
      border-bottom: 2px solid var(--offblack);
      background-color: transparent;
      height: 30px;
      color: var(--offblack);
    }

    .input:focus {
      border-bottom: 2px solid #CB3B24;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

/*Reset button*/
  .reset-button {
    margin-top:5%;
    margin-left: 15%;
  }
  #reset {
    background-color: var(--iconHover);
    color: black;
    border: 0;
    border-radius: 10px;
    padding: 10px
  }

  #reset:hover {
  background-color: #CB3B24;
  color: #F2F2F2;
  transition-duration: 0.25s;
  }



/*homepage for screenwidth under 900px*/
@media screen and (max-width: 900px) {
  h1 {
    font-size: 48pt;
  }

  h2 {
    font-size: 32pt;
    margin: 40px auto;
  }

  h4 {
    font-size: 16pt;
  }

  /*styling the elements that are on the banner*/
    .banner-items {
      width: 80%;
      align-items: center;
      text-align: center;
    }

    .banner-items p {
      font-size: 18pt;
    }

    .converters {
      min-height: 100vh;
      padding: 40px 0;
      background-color: var(--offwhite);
    }

    .converter-links {
      width: 80%;
      justify-content: space-between;
    }

    .converter-link {
      min-width: 100px;
      width: 47%;
      height: auto;
      min-height: 150px;
      margin: 15px 0;
      padding: 30px;
    }

    .converter-link:hover {
      background-color: var(--iconHover);
      color: var(--red);
      transition-duration: 0.25s;
    }

    .nav-converter-link {
      width: 40px;
    }

    /*converter page*/
    .converter-box{
      width: 80%;
    }
    .converter-section h3  {
      width: 80%;
    }

}
/*homepage for screenwidth under 500px*/
@media screen and (max-width: 500px) {
  h1 {
    font-size: 36pt;
  }

  h2 {
    font-size: 24pt;
    margin: 40px auto;
  }

  h4 {
    font-size: 12pt;
  }

  .banner-items {
    width: 90%;
  }

  .converter-links {
    width: 90%;
    justify-content: space-between;
  }

  .converter-link img {
    height: 50px;
  }

  /*converter page*/
  .converters-nav {
    width: 99%;
    margin: auto;
    border: 2px solid red;
  }
}
