*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/*creating css colour variables which contain colour codes*/
/*useful for when switching between light mode and dark mode*/
/*learned about css variables from w3schools https://www.w3schools.com/css/css3_variables.asp*/
:root {
  --navBar: #fc4f1b;
  --white: white;
  --offwhite: #f2f2f2;
  --red: #cb3b24;
  --offblack: #222831;
  --grey: #393e46;
  --iconHover: #e7e7e7;
}


/*styling all h1 headers on the website*/
  h1 {
    font-family: "Ropa Sans", sans-serif;
    font-size: 80px;
  }

/*styling all h2 headers on the website*/
  h2 {
    text-align: center;
    font-family: "Ropa Sans", sans-serif;
    font-size: 32pt;
    color: var(--offblack);
  }

/*styling all h4 headers on the website*/
  h4 {
    font-family: "Roboto", sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin-top: 25px;
  }
  

/*-----Main nav bar for all of the pages-----*/

/*styling the nav tag*/
  nav {
    background-color: var(--navBar);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
  }

/*styling the div that contains all of the nav elements*/
  .navItems {
    width: 78%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

/*styling the EZPZ logo*/
  nav img {
    height: 50px;
  }

/*DARK-LIGHT MODE TOGGLE*/
/*referenced from w3schools https://www.w3schools.com/howto/howto_css_switch.asp*/
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 2px solid var(--offblack);
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: var(--offblack);
    background-image: url(images/toggle-light.png);
    background-size: cover;
  }

  #modeSwitch:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }

  .slider.round {
    border-radius: 50px;
  }

  .slider.round:before {
    border-radius: 50%;
  }



/* Homepage */

/*-----banner section-----*/

/*styling the banner section*/
  .banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#fc4f1b, #f7b132);
    background-image: url(images/backgroud\ copy.jpg);
    background-size: cover;
    padding-top: 20vh;
  }

/*styling div that contains all of the banner elements*/
  .bannerItems {
    width: 78%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

/*styling the converter description on the banner*/
  .bannerItems p {
    font-family: "Roboto", sans-serif;
    font-size: 18pt;
  }

/*styling the banner button*/
  #bannerBtn {
    text-decoration: none;
    text-align: center;
    background-color: var(--offwhite);
    font-family: "Ropa Sans", sans-serif;
    font-size: 18pt;
    color: var(--offblack);
    padding: 15px;
    width: 200px;
    margin-top: 50px;
    border-radius: 10px;
  }

/*styling the banner button on hover*/
  #bannerBtn:hover {
    background-color: var(--iconHover);
    color: var(--offblack);
    transition-duration: 0.5s;
  }


/*-----converters section-----*/

/*styling the converters section*/
  .converters {
    min-height: 100vh;
    padding: 70px 0;
    background-color: var(--offwhite);
  }

/*styling all of the converter links*/
  .converterLinks {
    width: 78%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

/*styling each individual converter link*/
  .converterLink {
    text-decoration: none;
    min-width: 200px;
    width: 30%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 30px 0;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--red);
    font-weight: bold;
  }

/*styling the icons in the converter links*/
  .converterLink img {
    height: 60px;
  }

/*styling each individual converter link on hover*/
  .converterLink:hover {
    background-color: var(--iconHover);
    color: var(--red);
    transition-duration: 0.25s;
  }

    
/*-----footer section-----*/

/*styling the footer section*/
  .footer {
    height: 150px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-content: center;
  }

/*styling the div that contains all of the footer elements*/
  .footerItems {
    width: 78%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Ropa Sans", sans-serif;
  }

/*styling the div that contains all of the footer elements on hover*/
  .footerItems:hover {
    opacity: 70%;
  }

/*styling the link that links to our gitHub*/
  .footerItems a {
    text-decoration: none;
    color: var(--offblack);
  }

/*styling the gitHub logo*/
  #githubLogo {
    width: 50px;
  }





/*Converter page */

/*-----converters nav-----*/

/*styling the section that contains the nav for the converters*/
    .convertersNav {
      height: 125px;
      background-color: var(--white);
      width: 100%;
    }

/*styling the div that contains all of the converter nav links*/
    .navConverterLinks {
      width: 70%;
      max-width: 1440px;
      margin: auto;
      height: 100%;
      background-color: var(--white);
      display: flex;
      justify-content: space-between;
      font-weight: 650;
      display: flex;
      flex-wrap: wrap;
    }

/*styling each converter link*/
    .navConverterLink {
      text-align: center;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 50px;
      padding-left: 5%;
      padding-right: 5%;
    }

/*styling each converter nav link on hover*/
    .navConverterLink:hover {
      opacity: 40%;
      transition-duration: 0.25s;
    }

/*styling each converter link icon*/
    .navConverterLink img {
      height: 40px;
    }

/*styling each converter link description*/
    .navConverterLink p {
      margin: 10px;
      color: var(--red);
    }

/*styling the hidden icon*/
    .hiddenIcon {
      display: none;
    }


/*-----main section-----*/

/*styling the main section that contains the converter*/
    .converterSection {
      background-color: var(--offwhite);
      font-family: "Ropa Sans", sans-serif;
      color: var(--offblack);
      padding-bottom: 5%;
      min-height: 100vh;
    }

/*styling the title of the converter*/
    .converterSection h3 {
      padding-top: 20px;
      font-size: medium;
      font-style: italic;
      width: 60%;
      max-width: 810px;
      margin: auto;
    }

/*styling the div that contains the interactive converter elements*/
    .converterBox {
      width: 60%;
      max-width: 810px;
      margin: auto;
      background-color: var(--white);
      border-radius: 10px;
      padding-bottom: 40px;
      padding-top: 40px;
    }

/*styling the div that contains the decimal dropdown*/
    .decimalDropdown {
      margin: auto;
      width: 70%;
      height: 45px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
    }

/*styling the decimal dropdown description text*/
    .decimalDropdown p {
      margin: 0 10px;
      padding: 2% 0;
    }

/*styling the decimal dropdown select menu*/
    .form-select {
      width: 60px;
      background-color: rgb(245, 245, 245);
      color: #222831;
      border: 1px solid #222831;
    }

/*styling the values of the decimal dropdown select menu*/
    .decimalValue {
      background-color: var(--offwhite);
      color: var(--offblack);
    }

/*styling the div that contain an input field and its description*/
    .unitType {
      width: 70%;
      height: 80px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
    }

/*styling the description of each input field*/
    .unitType h3 {
      width: 100%;
    }

/*styling the input field*/
    .input {
      width: 90%;
      outline-style: none;
      outline: none;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid var(--offblack);
      background-color: transparent;
      height: 30px;
      color: var(--offblack);
    }

/*styling the input field on focus*/
    .input:focus {
      border-bottom: 2px solid #cb3b24;
    }

/*styling the input field to not display the up and down arrows*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
/*styling the input field unit*/
    .unitType p {
      width: 10%;
      height: 30px; /*40px*/
      padding-left: 10px;
      text-align: left;
      font-size: 14pt;
    }

/*styling the div that contains the reset button*/
    .resetBtn {
      margin: 5% auto auto auto;
      width: 70%;
    }

/*styling the reset button*/
    #reset {
      background-color: var(--iconHover);
      color: var(--offblack);
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
    }

/*styling the reset button on hover*/
    #reset:hover {
      background-color: #cb3b24;
      color: #f2f2f2;
      transition-duration: 0.25s;
    }



/*styling for screen widths of 900px or less*/
@media screen and (max-width: 900px) {
/*styling all of the h1 headers*/
  h1 {
    font-size: 48pt;
  }

/*styling all of the h2 headers*/
  h2 {
    font-size: 32pt;
    margin: 40px auto;
  }

/*styling all of the h4 headers*/
  h4 {
    font-size: 16pt;
  }

/* Homepage */

/*styling the div that contains all of the banner items*/
  .bannerItems {
    width: 80%;
    align-items: center;
    text-align: center;
  }

/*styling the unit converter description on the banner*/
  .bannerItems p {
    font-size: 18pt;
  }

/*styling the converters section*/
  .converters {
    padding: 40px 0;
  }

/*styling the converter links*/
  .converterLinks {
    width: 80%;
  }

  .converterLink {
    min-width: 100px;
    width: 47%;
    height: auto;
    min-height: 150px;
    margin: 15px 0;
    padding: 30px;
  }

  .converterLink:hover {
    background-color: var(--iconHover);
    color: var(--red);
    transition-duration: 0.25s;
  }

/*converter page*/
  .navConverterLink {
    width: 40px;
  }

  .converterBox {
    width: 80%;
  }
  .converterSection h3 {
    width: 80%;
  }

  .decimalDropdown {
    width: 70%;
    height: 80px;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }
  
  .decimalDropdown p {
    margin: 0;
    padding-top: 0;
  }

  .form-select {
    width: 100%;
  }

  .unitType h3 {
    width: 100%;
  }
}

/*Converter styling for 700px breakpoint*/
@media screen and (max-width: 700px) {
  .navConverterLinks {
    width: 90%;
  }
  .navConverterLink p {
    font-size: 2vw;
    /*font-size: 12px;*/
  }
}

/*homepage for screenwidth under 500px*/
@media screen and (max-width: 500px) {
/*styling all of the h1 headers*/
  h1 {
    font-size: 36pt;
  }

/*styling all of the h2 headers*/
  h2 {
    font-size: 24pt;
    margin: 40px auto;
  }

/*styling all of the h4 headers*/
  h4 {
    font-size: 12pt;
  }

/*styling the div that contains the nav elements*/
  .navItems {
    width: 90%;
  }
  

/* Homepage */

/*styling the div that contains the banner items*/
  .bannerItems {
    width: 90%;
  }

/*styling the converter links*/
  .converterLinks {
    width: 90%;
    min-height: 130px;
    justify-content: space-between;
  }

/*styling the converter link icons*/
  .converterLink img {
    height: 50px;
  }


/*converter page*/

/*styling the converter nav*/
  .convertersNav {
    width: 100%;
    height: 80px;
    margin: auto;
  }

/*styling the converter link icons*/
  .navConverterLink img {
    height: 35px;
  }

/*styling the converter link descriptions*/
  .navConverterLink p {
    display: none;
  }

/*styling the div that contains interactive converter elements*/
  .converterBox {
    width: 90%;
  }

/*styling the converter title*/
  .converterSection h3 {
    width: 90%;
  }

/*styling the div that contains the decimal dropdown*/
  .decimalDropdown {
    width: 80%;
  }

/*styling the div that contains the input field and its description*/
  .unitType {
    width: 80%;
  }

/*styling the input field description*/
  .unitType h3{
    width: 100%;
  }

/*styling the div that contains the reset button*/
  .resetBtn {
    width: 80%;
  }

/*styling the reset button*/
  #reset {
    width: 100%;
  }
}