

*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}



h2 {
    width: 78%;
    margin: 50px auto;
    text-align: center;
}

nav {
    background-color: #FC4F1B;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img {
    height: 50px;
    margin: auto;
}

/*Homepage styling*/
.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#FC4F1B, #F7B132);
}

.banner-items {
    width: 78%;
    background-color: transparent;
    margin: auto;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-btn {
    text-decoration: none;
    text-align: center;
    background-color: #F2F2F2;
    color: #222831;
    padding: 15px;
    width: 10%;
    min-width: 200px;
    border-radius: 10px;
}

.banner-btn:hover {
    background-color: #d6d6d6;
    transition-duration: 0.5s;
}

.converters {
    height: 100vh;
    padding: 100px 0;
    background-color: #F2F2F2;
}


.converter-links {
    border: 2pt solid black;
    width: 78%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}

.converter-link {
    text-decoration: none;
    min-width: 200px;
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 30px 0;
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    color: #CB3B24;
    font-weight: bold;
}

.converter-link img {
    width: 150px;
    border: 2px solid black;
}

.converter-link p {
    width: 100%;
    text-align: center;
}

.footer {
    min-height: 10vh;
    height: auto;
    background-color: white;
}

.footer-items {
    width: 78%;
    margin: 5% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.footer-items a {
    text-decoration: none;
}

.github-logo {
    width: 50px;
}

/*Converter page styling*/
.converters-nav {
    height: 125px;
    background-color: #222831;
    color: white;
    width: 100%;
}

.nav-converter-links {
    width: 78%;
    margin: auto;
    height: 100%;
    background-color: #F7B132;
    display: flex;
    justify-content: space-between;
}

.nav-converter-link {
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.nav-converter-link img {
    height: 60px;
}

.nav-converter-link p {
    margin: 10px;
}

.converter-section {
    background-color: #F2F2F2;
}

.converter-box {
    width: 60%;
    max-width: 810px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.unit-type {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.unit-type h3 {
    width: 100%;
}

.input-field {
    width: 90%;
    outline-style: none;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    padding-bottom: 0;
    height: 40px;
}

.unit-type p {
    width: 10%;
    height: 40px;
    text-align: center;
    font-size: 18pt;
}